/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
examples/simple/figwheel_server.log
examples/simple/.nrepl-port
examples/simple/target/
examples/simple/resources/
